@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600&display=swap");

:root {
  --blue: #136a8a;
  --green: #267871;
  --white: #fff;
  --exchange-rate-color: #555;
  --input-background: rgba(119, 136, 153, 0.15);
  --input-shadow: rgba(119, 136, 153, 0.35);
  --input-border: #ddd;
  --shadow-1: rgba(0, 0, 0, 0.25);
  --shadow-2: rgba(0, 0, 0, 0.1);
  --shodow-3: rgba(0, 0, 0, 2);
  --loading-bg-1: #c2cfd6;
  --loading-bg-2: #f0f3f5;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

#go-back-btn {
    height: 40px;
    width: 80px;
    position: absolute;
    top: 10px; /* Adjust the top distance as needed */
    left: 10px; /* Adjust the left distance as needed */
    padding: 10px;
    background-color: var(--green);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #go-back-btn:hover {
    background-color: var(--blue);
  }

body {

    margin: 0;
    background: #009578;
    padding: 0.8rem;
    height: 100vh;
    background: linear-gradient(135deg, var(--blue), var(--green));
}

h1 {
    position: grid;
    text-align: left;
    text-transform: uppercase;
    font-size: 2rem;
    margin-top: 100px;
    padding-left: 15px;
    color: var(--white);
  }

#headerbtn {
    display: inline;
    position: relative;
    padding: 10px;
}

#app {    
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    padding: 24px;
    gap: 24px;
  }

.note {
    height: 200px;
    box-sizing: border-box;
    padding: 16px;
    border: none;
    border-radius: 10px;
    resize: none;
    box-shadow: 0 0 5px var(--shadow-1), 0 5px 10px var(--shadow-2);
}

.add-note { 
    height: 200px;
    border: none;
    outline: none;
    background:var(--shadow-2);
    border-radius: 10px;
    font-size: 120px;
    color: var(--shadow-1);
    cursor: pointer;

    /* add in weather forecast */
    transition: background 0.2s;
}

.add-note:hover {
    background: var(--shadow-3);
}

textarea.note {
    font-size: 15px;
}